server:
  servlet:
    context-path: /api

spring:
  profiles:
    active: local

  jackson:
    time-zone: Asia/Seoul

jwt:
  secret: ${JWT_SECRET}
  access-token-validity: 3600000
  refresh-token-validity: 604800000

kakao:
  client-id: ${KAKAO_CLIENT_ID}
  client-secret: ${KAKAO_CLIENT_SECRET}
