server:
  servlet:
    context-path: /api
  tomcat:
    mbeanregistry:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus
  metrics:
    tags:
      application: ticketing-api
    distribution:
      percentiles-histogram:
        http.server.requests: true

spring:
  profiles:
    active: local
  config:
    import:
      - classpath:jpa-application.yml
      - optional:classpath:jpa-application-${spring.profiles.active}.yml

  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always

  jackson:
    time-zone: Asia/Seoul

  security:
    user:
      name: admin
      password: ${ADMIN_PASSWORD}

  ai:
    google:
      genai:
        api-key: ${GOOGLE_GENAI_API_KEY}
        chat:
          options:
            model: gemini-2.5-flash
            temperature: 1.0
            google-search-retrieval: true

exhibition:
  api:
    base-url: ${EXHIBITION_API_BASE_URL}
    service-key: ${EXHIBITION_API_SERVICE_KEY}

openai:
  api-key: ${OPENAI_API_KEY}
  model: gpt-4o-mini

jwt:
  secret: ${JWT_SECRET}
  access-token-validity: 3600000
  refresh-token-validity: 604800000

crawler:
  gemini:
    rpd: 1000

kakao:
  oauth:
    client-id: ${KAKAO_CLIENT_ID}
    client-secret: ${KAKAO_CLIENT_SECRET}
    redirect-uri: https://www.warrr.site/auth/kakao/callback
    token-uri: https://kauth.kakao.com/oauth/token
    user-info-uri: https://kapi.kakao.com/v2/user/me

