server:
  servlet:
    context-path: /api

spring:
  profiles:
    active: local
  config:
    import:
      - classpath:jpa-application.yml
      - classpath:jpa-application-${spring.profiles.active}.yml

  jackson:
    time-zone: Asia/Seoul

jwt:
  secret: ${JWT_SECRET}
  access-token-validity: 3600000
  refresh-token-validity: 604800000

kakao:
  oauth:
    client-id: ${KAKAO_CLIENT_ID}
    client-secret: ${KAKAO_CLIENT_SECRET}
    token-uri: https://kauth.kakao.com/oauth/token
    user-info-uri: https://kapi.kakao.com/v2/user/me
